.dropdown-btn {
  margin-top: 3rem;
  margin-bottom: 8rem;
}

select {
    text-align: center;
    border: 2px solid transparent;
    border-radius: 4px;
    background: linear-gradient(to right, #a18cd1, #fbc2eb);
    color: black; 
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

select:hover {
    background: linear-gradient(to right, #9d7bc8, #f7bce8);
    border-color: #a18cd1; 
}

select:focus {
    outline: none;
    background: linear-gradient(to right, #8d6fb8, #e0a9d3);
    border-color: #7e61a9;
}
